html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Left Side image */
/* .image-container {
 
  height: 50vh;
  position: relative;
}
.image-container .image {
  width: 100%;
  height: 100%;
  position: relative !important;
  object-fit: cover;
} */

.image-containerss {
  background-color: #f5f7fb;
  height: 100vh;
  position: relative;
}
.image-containerss span {
  position: unset !important;
  height: 100% !important;
}
.image-containerss img {
  
}
.right-side-div {
  background-color: #f5f7fb;
}
.signup-main-div {
  overflow: hidden;
}
.form-header-div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}



/* dashboard css */
.dashboard-canopi-logo {
  width: 100%;
}
.dashboard-canopi-logo img {
  max-width: 134px !important;
  min-width: auto !important;
  width: auto !important;
}
.dashboard-docmode-img img {
  max-width: 174px !important;
  min-width: auto !important;
  width: auto !important;
  margin-right: 65px !important;
}
.dashboard-tabbar{
  display: flex !important; 
  justify-content: space-between !important;
  align-items: center !important;
}
.dashboard-wallet-img {
  position: absolute;
  left: 50%;
  top: 5px;
}
.dashboard-equipment-finance-img {
  background-image: url('../assets/backgrounds/EquipmentFinance.jpg');
}


